<br>
<br>
<h2><%= t('.sign_up') %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true, size: 30 ,:placeholder => "例： 山田 太郎 " %>
  </div>
  <br>
  <div class="field">
    <%= f.label :部署 %><br/>
     <%= f.select :department_id, options_for_select(Department.all.map{|dpt| [( dpt.name ) , dpt.id]} ), include_blank: "選択して下さい" %> 
  </div>
 <br>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
 <br>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
 <br>
  <%
=begin%>
 <div class="field">
    <%= f.label :パスワード確認 %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div> 
<%
=end%>
<br>
  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>
<br>
<h4><%= link_to 'ログイン' , new_employee_session_path , id: "login" %></h4>
<br>
<h4><%= link_to 'Top画面に戻る' , root_path , id: "top" %></h4>
<%
=begin%>
 <%= render "devise/shared/links" %> 
<%
=end%>
<br>
<br>
<br>
<br>
