<main>
<br>
<%= form_with(model: @project, url: customer_management_path, local: true) do |form| %>

<br>
<br>
<h1>レポート編集</h1>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%=  @project.errors.count %> <%= t('view.error') %></h2>
      <ul>
      <%
=begin%>
 <% binding.pry %> 
<%
=end%>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <br>
    <h5>部署：担当</h5>

    <%= form.select :department_id, options_for_select(Department.where( web_flg: true ).all.map{|dpt| [( dpt.name ) , dpt.id]} ), include_blank: "選択して下さい" %> 

  <div>
    <table>
    <% Department.where(web_flg: true).all.each do |dm| %>
      <tr>
        <th>
          <%= dm.name %>
        </th>
          <td>
          <div>
            <% Employee.where(department_id: dm.id).all.each do |emp| %>
              <%= form.radio_button :employee_id, emp.id %>
              <%= emp.name %><br>
            <% end %>
          </div>
          </td>
      </tr>
    <% end %>
    </table>

  </div>
<br>

    <h5>企業名/お客様名</h5>
      <% @customer.each do |ct| %>
    <h4><%= ct.name %></h4>
      <% end %>

  <div>
    <table>
    <% Customer.all.each do |ct| %>
      <tr>
        <th>
        <label><%= ct.name %></label>
        </th>
          <td>
          <div>
            <% Customeruser.where(customer_id: ct.id).all.each do |usr| %>
              <%= form.radio_button :customeruser_id, usr.id %>
              <%= usr.name %><br>
            <% end %>
          </div>
          </td>
      </tr>
    <% end %>
    </table>
  </div>
<br>
    <h5>システム/機能</h5>
    <% @package.each do |pk| %>
    <h4><%= pk.name %></h4>
    <% end %>

    <table>
    <% Package.all.each do |pcg| %>
      <tr>
        <th>
        <label><%= pcg.name %></label>
        </th>
          <td>
          <div>
            <% Feature.where(package_id: pcg.id).all.each do |ft| %>
              <%= form.radio_button :feature_id, ft.id %>
              <%= ft.name %><br>
            <% end %>
          </div>
          </td>
      </tr>
    <% end %>
    </table>
  </div>

  <br>
  <div>
    <p><%= form.label :priority %></p>
    <p><%= form.select :priority, Project.priorities.keys.map {|k| [I18n.t("enums.projects.priority.#{k}"), k]}, include_blank: "選択して下さい" %></p>
  </div> 
  <br>

  <div>
    <p><%= form.label :apoint_at %></p>
    <p><%= form.date_field(
          :apoint_at, id: "apoint_at", class: "form-control",
          use_month_numbers: true, # jan, febとかじゃなくて数字で月を表現
          start_year:     (Time.now.year), # 何年から表示させるか
          end_year:       (Time.now.year), # 何年まで表示させるか
          default:        Date.new(1989, 1, 1), # 最初に表示されている年月日
          date_separator: '/') # 年月日を仕切る文字
        %></p>
  </div>

  <div>
    <p><%= form.label :deadline %> (未入力可)</p>
    <p><%= form.date_field(
          :deadline, id: "deadline", class: "form-control",
          use_month_numbers: true, # jan, febとかじゃなくて数字で月を表現
          start_year:     (Time.now.year), # 何年から表示させるか
          end_year:       (Time.now.year), # 何年まで表示させるか
          default:        Date.new(1989, 1, 1), # 最初に表示されている年月日
          date_separator: '/') # 年月日を仕切る文字
        %></p>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description , size: "40x10" ,:placeholder => "内容を記載してください。"%>
  </div>

  <%= form.submit "レポート編集"  %>
  <% end %>
  <br>
<button type="button" class="btn btn-info" ><%= link_to "戻る", customer_management_path, id: "back_to_show" %></button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</main>