<article>
  <br>
  <% if current_employee.try(:admin?) %>
    <h6>管理者管理画面</h6>
    <button type="button" class=" btn btn-info"><%= link_to "マスタ登録", rails_admin_path , id: "employee_create" %></button>
  <% else %>
    <h6>メニュー画面</h6>
  <% end %>
<hr>
  <br>
  <div>
    <button type="button" class="btn btn-danger"><%= link_to "レポート作成", new_customer_management_path, id: "create_report" %></button>
    <button type="button" class="btn btn-success" ><%= link_to "顧客登録", customerusers_path, id: "customer_index" %></button>
  </div>
  <br>
<hr>

  <div class="form-group">
  <%= form_with(scope: :search, url: customer_managements_path, method: :get, local: true) do |f| %>
      <li><%= f.label :department, '部署名' %><br>
      <li  id ="department"><%= f.select :department_id, options_for_select(@department.all.map{|department| [department.name, department.id]}, class: 'form-control'), include_blank: ('選択してください') %><li/>
      <li><%= f.label :customer, '会社名' %><li/>
      <li  id ="customer"><%= f.select :customer_id, options_for_select(Customer.all.map{|customer| [customer.name, customer.id]}, class: 'form-control'), include_blank: ('選択してください') %><li/>
      <br>
      <li id= "search"><%= f.submit '検索', class: "btn btn-primary"%><li/>
  <% end %>
  </div>
      <br>
  <div>
    <%= search_form_for @q ,url: customer_managements_path do |f| %>

    <%
=begin%>
 <div class="form-group">
        <%= f.label :department_cont, "部署名" %>
        <%= f.select :department_ids , options_for_select(@customer.all.map{|customer| [customer.name, customer.id]})%>
    </div>
    <div class="form-group">
        <%= f.label :customer_cont, "会社名" %>
        <%= f.search_field :customer_cont , class: "form-control", placeholder: "部分一致"%>
    </div>  
<%
=end%>

    <div class="form-group">
        <%= f.label :title_cont, "タイトル" %>
        <%= f.search_field :title_cont , class: "form-control", placeholder: "部分一致"%>
    </div>
       <%= f.submit '検索', class: "btn btn-primary" %>
       <%= link_to 'クリア', url_for, class: "btn btn-info" %>
    <% end %>
  <br>
    <button type="button" class="btn btn-warning" type="button"><%= link_to "状況管理" , customer_managements_path(sort_checked: "true"), id: "sort_checked" %></button>
  </div>
<hr>
<table class="col-md-12">
    <thead>
      <tr class="table-primary">
        <th class="col-md-1">部署名</th>
        <th class="col-md-4">タイトル</th>
        <th class="col-md-2">会社名</th>
        <th class="col-md-1" >発生日</th>
        <th class="col-md-1">期限</th>
        <th class="col-md-1">優先度</th>
        <th class="col-md-1">詳細</th>
      </tr>
    </thead>
    <tbody>

 <% if @projects != nil %>
      <% @projects.each do |pt| %>
      <tr class="table-info">
        <td><%= pt.department.name %></td>  
        <td><%= pt.title %></td>
        <td><%= pt.customer.name %></td>
        <td><%= pt.apoint_at %></td>
        <td><%= pt.deadline %></td>
        <td>
          <% if pt.priority = 1 %>
              高
          <% elsif pt.priority = 2 %>
              中
          <% else %>
              低
          <% end %>
        </td>
        <td><button type="button" class="btn btn-info" ><%= link_to '詳細', customer_management_path(pt), id: "project_report_view" %></td>
        </tr>
      <% end %>
    <% end %> 

    </tbody>
  <% if @projects != nil %>
    <%= paginate @projects %> 
  <% end %>
</table>
<br>
<br>
<br>
