<main>

<br>
  <h4>レポート登録</h4>
   <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: @project, url: customer_managements_path, local: true) do |form| %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <br>

    <h4>部署：担当</h4>

  <div>

<%
=begin%>
 <%= form.select :employee_id, options_for_select(@employee.all.map{|emp| [( emp.departmentname+' ：' + emp.name ) , emp.id]}) %> 
<%
=end%>

  </div>
    <table>
    <% @department.all.each do |dm| %>
      <tr>
        <th>
          <%= dm.name %>
        </th>
          <td>
          <div>
            <% @employee.where(department_id: dm.id).all.each do |emp| %>
              <%= form.radio_button :employee_id, emp.id %>
            <%= emp.name %><br>
          <% end %>
          </div>
          </td>
      </tr>
    <% end %>
    </table>
  </div>
<br>
    <h4>企業名/お客様名</h4>
  <%
=begin%>
 <div>
    <%= form.select :customer, Project.enum_customers.keys %>
  </div> 
<%
=end%>
  <div>
    <table>
    <% @customer.each do |ct| %>
      <tr>
        <th>
        <label><%= ct.name %></label>
        </th>
          <td>
          <div>
            <% @customeruser.where(customer_id: ct.id).all.each do |usr| %>
              <%= form.radio_button :customeruser_id, usr.id %>
              <%= usr.name %><br>
            <% end %>
          </div>
          </td>
      </tr>
    <% end %>
    </table>
  </div>
<br>
    <h4>システム/機能</h4>
  <%
=begin%>
 <div>
    <%= form.select :package, Project.enum_packages.keys %>
  </div> 
<%
=end%>
    <table>
    <% @package.all.each do |pcg| %>
      <tr>
        <th>
        <label><%= pcg.name %></label>
        </th>
          <td>
          <div>
            <% @feature.where(package_id: pcg.id).all.each do |ft| %>
              <%= form.radio_button :feature_id, ft.id %>
              <%= ft.name %><br>
            <% end %>
          </div>
          </td>
      </tr>
    <% end %>
    </table>
  </div>

  <br>
  <div>
    <p><%= form.label :priority %></p>
    <p><%= form.select :priority, Project.priorities.keys.map {|k| [I18n.t("enums.projects.priority.#{k}"), k]}, include_blank: "選択して下さい" %></p>
  </div> 
  <br>

  <div>
    <p><%= form.label :apoint_at %></p>
    <p><%= form.date_field(
          :apoint_at, id: "apoint_at", class: "form-control",
          use_month_numbers: true, # jan, febとかじゃなくて数字で月を表現
          start_year:     (Time.now.year), # 何年から表示させるか
          end_year:       (Time.now.year), # 何年まで表示させるか
          default:        Date.new(1989, 1, 1), # 最初に表示されている年月日
          date_separator: '/') # 年月日を仕切る文字
        %></p>
  </div>

  <div>
    <p><%= form.label :deadline %></p>
    <p><%= form.date_field(
          :deadline, id: "deadline", class: "form-control",
          use_month_numbers: true, # jan, febとかじゃなくて数字で月を表現
          start_year:     (Time.now.year), # 何年から表示させるか
          end_year:       (Time.now.year), # 何年まで表示させるか
          default:        Date.new(1989, 1, 1), # 最初に表示されている年月日
          date_separator: '/') # 年月日を仕切る文字
        %></p>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description , size: "40x10" %>
  </div>

  <%= form.submit "レポート作成"  %>
<% end %>
  <br>
<button type="button" class="btn btn-info" type="button"><%= link_to "戻る", customer_managements_path, id: "back_to_menu" %></button>
  <br>
  <br>
  <br>
  <br>
</main>
