<main>
<br>
  <h3>レポート登録</h3>
<br>


<%= form_with(model: @project, url: customer_managements_path, local: true) do |form| %>
  
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%=  @project.errors.count %> <%= t('view.error') %></h2>
      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <h4><%= form.label :title  %></h4>
    <%= form.text_field :title ,:placeholder => "例：システム提案・サポート対応・障害対応" ,class: 'form-control' %>
  </div>

<br>
    <h4>部署</h4>
  <!-- remote: trueを追加することでajaxでparams[:project][department_id]をpostできる -->
  <div class="form-group">
    <%= form.select :department_id, options_for_select(@department.all.map{|dpt| [( dpt.name ) , dpt.id]} ), { include_blank: '選択してください'},
     {data: {remote: true, url: url_for(action: :department_employee)}}  %>
  </div>
<br>
  <h4>担当</h4>
    <!-- 動的にセレクトボックスが描画される -->
  <div id="employee-select">
    <h5>部署を選択してください。</h5>
  </div>
  <span style="color:#FA562A">※部署を選択すると社員が選べます。</span>
<br>

<br>
  <h4>企業名</h4>
<!-- remote: trueを追加することでajaxでparams[:project][customer_id]をpostできる -->
<div>
  <%= form.select :customer_id, options_for_select(Customer.all.map{|cst| [( cst.name ), cst.id]}) , { include_blank: '選択してください'},
   {data: {remote: true, url: url_for(action: :customer_customeruser)}} %>
</div>

<br>
  <h4>お客様名</h4>
  <!-- 動的にセレクトボックスが描画される -->
  <div id="customeruser-select">
  <h5>お客様の企業名を選択してください</h5>
  </div>
  <span style="color:#FA562A">※企業名を選択すると社員が選べます。</span>
<br>

  <h4>システム</h4>
  <!-- remote: trueを追加することでajaxでparams[:project][package_id]をpostできる -->
  <div>
    <%= form.select :package_id, options_for_select(Package.all.map{|cst| [( cst.name ), cst.id]}) , { include_blank: '選択してください'},
    {data: {remote: true, url: url_for(action: :package_feature)}} %>
  </div>

<br>
  <h4>機能</h4>
  <!-- 動的にセレクトボックスが描画される -->
  <div id="feature-select">
    <h5>システムを選択してください</h5>
  </div>
  <span style="color:#FA562A">※システムを選択すると機能が選べます。</span>
<br>

    <h4><%= form.label :priority %></h4>
  <div>
    <p><%= form.select :priority, Project.priorities.keys.map {|k| [I18n.t("enums.projects.priority.#{k}"), k]}, include_blank: "選択して下さい" %></p>
  </div> 
  <br>

    <h4><%= form.label :apoint_at %></h4>
  <div>
    <p><%= form.date_field(
          :apoint_at, id: "apoint_at", class: "form-control",
          use_month_numbers: true, # jan, febとかじゃなくて数字で月を表現
          start_year:     (Time.now.year), # 何年から表示させるか
          end_year:       (Time.now.year), # 何年まで表示させるか
          default:        Date.new(1989, 1, 1), # 最初に表示されている年月日
          date_separator: '/') # 年月日を仕切る文字
        %></p>
  </div>

  <h4><%= form.label :deadline %> (未入力可)</h4>
  <div>
    <p><%= form.date_field(
          :deadline, id: "deadline", class: "form-control",
          use_month_numbers: true, # jan, febとかじゃなくて数字で月を表現
          start_year:     (Time.now.year), # 何年から表示させるか
          end_year:       (Time.now.year), # 何年まで表示させるか
          default:        Date.new(1989, 1, 1), # 最初に表示されている年月日
          date_separator: '/') # 年月日を仕切る文字
        %></p>
  </div>

    <h4><%= form.label :description %></h4>
  <div class="field" >
    <%= form.text_area :description , size: "40x10" ,:placeholder => "内容を記載してください。(400文字)" ,class: 'form-control' %>
  </div>
  <br>
  <%= form.submit "レポート作成" , class: 'btn btn-danger' %>
<% end %>
  <br>
<button type="button" class="btn btn-info"><%= link_to "戻る", customer_managements_path, id: "back_to_menu" %></button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</main>