<br>
<br>
<h3>詳細画面</h3>
      <table>
        <tr class="table-info">
            <td>タイトル</td>
        </tr>
        <tr class="table-light">
            <td><%= @project.title %></td>
        </tr>
        <tr class="table-info">
            <td>部署</td>
        </tr>
        <tr class="table-light">
            <td><%= @project.employee.departmentname %></td>
        </tr>
        <tr class="table-info">
          <td>弊社担当</td>
        </tr>
        <tr class="table-light">
          <td><%= @project.employee.name %></td>
        </tr>
        <tr class="table-info">
          <td>お客様</td>
        </tr>
        <tr class="table-light">
          <td><%= @project.customeruser.customername %></td>
        </tr>
        <tr class="table-info">
          <td>お客様担当</td>
        </tr>
        <tr class="table-light">
          <td><%= @project.customeruser.name %></td>
        </tr>
        <tr class="table-info">
          <td>システム</td>
        </tr>
        <tr class="table-light">
          <td><%= @project.feature.package.name %></td>
        </tr>
        <tr class="table-info">
             <td>機能</td>
        </tr>
        <tr class="table-light">
          <td>
            <%= @project.feature.name %>
          </td>
        </tr>
        <tr class="table-info">
          <td>面談日</td>
        </tr>
        <tr class="table-light">
          <td><%= @project.apoint_at %></td>
        </tr>
        <tr class="table-info">
          <td>面談詳細</td>
        </tr>
        <tr class="table-light">
            <td><%= @project.description %></td>
        </tr>
        <tr class="table-info">
            <td>期日</td>
        </tr>
        <tr class="table-light">
            <td><%= @project.deadline %></td>
        </tr>
        <tr class="table-info">
            <td>重要度</td>
        </tr>
        <tr class="table-light">
          <td><% if @project.priority = 1 %>
                    高
            <% elsif @project.priority = 2 %>
                    中
            <% else %>
                    低
            <% end %>
          </td>
        </tr>
        <tr class="table-info">
          <td>
          <%
=begin%>
 <% @getchk.each do |chk| %> 
<%
=end %>
            <% if chk.customer_id == @project.customeruser.customer_id %>
              <button type="button" class="btn btn-warning" ><%= link_to "状況管理する" , checks_path(employee_id: current_employee.id , customer_id: @project.customeruser.customer_id), method: :post , id: "check_list" %></button>
              <button type="button" class="btn btn-warning" ><%= link_to "状況管理から外す" , checks_path(employee_id: current_employee.id , customer_id: @project.customeruser.customer_id), method: :post , id: "check_list" %></button>
            <% end %>
            <% if current_employee.id == @project.employee_id %>　　
              <button type="button" class="btn btn-success" ><%= link_to "編集", edit_customer_management_path, id: "back_to_menu" %></button>
              <button type="button" class="btn btn-danger" ><%= link_to "削除", customer_management_path(id: @project.id), method: :delete, data: { confirm: '記載している情報が削除されます。よろしいですか？' } ,id: "delete_report" %></button>
            <% end %>
          <%
=begin%>
 <% end %> 
<%
=end %>

          </td>
        </tr>
      </table>
<br>
<button type="button" class="btn btn-info" type="button"><%= link_to "戻る", customer_managements_path, id: "back_to_main" %></button>
<br>
<br>
<br>
<br>