    <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
<p></p>
<%= form_with(model: @customer, url: customers_path, local: true) do |form| %>

  <div class="customer">
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </div>

  <div class="customer">
    <%= form.label :address %><br>
    <%= form.text_field :address %><br>
  </div>

  <div class="customer">
    <%= form.label :tel %><br>
    <%= form.number_field :tel, min: 1, max: 999999999999 %><br>
  </div>

  <div class="customer">
    <p><%= form.label :user_flg  %><%= form.check_box :user_flg %></p>
  </div>
  <p></p>
  <div class="employee">
    <%= form.submit "お客様登録"  %>
  </div>

<% end %>