<main>
<br>
<%= form_with(model: @customeruser, url: customeruser_path, local: true) do |user| %>
  <h3>ユーザー編集</h3>
   <% if @customeruser.errors.any? %>
    <div id="error_explanation">
      <h2><%= @customeruser.errors.count %> <%= t('view.error') %></h2>
      <ul>
        <% @customeruser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>
    <h6>会社名</h6>
  <% @customer.each do |ct| %>
    <h4><%= ct.name %></h4>
  <% end %>
<br>

  <div cclass="field" >
    <%= user.label :department %><br>
    <%= user.text_field :department ,:placeholder => " 所属部署・など記入してください。" ,class: 'form-control' %>
  </div>

  <div class="field" >
    <%= user.label :name %><br>
    <%= user.text_field :name ,:placeholder => "山田 花子 必須 入力です。" ,class: 'form-control' %>
  </div>

  <div class="field" >
    <%= user.label :email %><br>
    <%= user.text_field :email ,:placeholder => "abc@email.com 必須入力です。" ,class: 'form-control' %>
  </div>


  <div class="field" >
    <%= user.label :tel %><br>
    <%= user.text_field :tel ,:placeholder => "123-456-7890" ,class: 'form-control' %>
  </div>

  <div class="field" >
    <%= user.label :meta %><br>
    <%= user.text_area :meta , size: "40x10" ,class: 'form-control' %>
  </div>

  <p></p>
  <div class="actions">
    <%= user.submit 'ユーザー情報更新' , class: 'btn btn-danger' %>
  </div>
<br>
<br>
<% end %>
<button type="button" class="btn btn-info" ><%= link_to "戻る", customerusers_path, id: "back_to_menu" %></button>
<br>
<br>
<br>
<br>
<br>
<br>
</main>
