<main>
  <br>
  <h3>顧客検索</h3>
  <div class="form-group">
  <%= form_with(scope: :search, url: customerusers_path, method: :get, local: true) do |f| %>
      <li><%= f.label :customer, '会社名', disabled: true %><li/>
      <li  id ="customer"><%= f.select :customer_id, options_for_select(Customer.all.map{|customer| [customer.name, customer.id]}), { include_blank: "選択して下さい" }, { class: 'form-control' } %><li/>
      <br>
      <li id= "search"><%= f.submit '検索', class: "btn btn-primary" , id: "customer_search" %><li/>
  <% end %>
  </div>

  <button type="button" class="btn btn-danger"><%= link_to "新規登録", new_customeruser_path(customer_id: @customer_id, count: @count), id: "create_user" %></button>
  <br>

<hr>
<table class="col-md-12">
  <thead>
    <tr class="table-primary">
      <th class="col-md-2">会社名</th>
      <th class="col-md-2">部署名</th>
      <th class="col-md-2">名前</th>
      <th class="col-md-2">メール</th>
      <th class="col-md-2">電話番号</th>
      <% if current_employee.admin == true %>　　
        <th class="col-md-1">編集</th>
        <th class="col-md-1">削除</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% if @customerusers != nil %>
    <% @customerusers.each do |cu| %>
      <tr class="table-info">
        <td><%= cu.customer.name %></td> 
        <td><%= cu.department %></td>  
        <td><%= cu.name %></td>
        <td><%= cu.email %></td>
        <td><%= cu.tel %></td>
      <% if current_employee.admin == true %>　　
        <td><button type="button" class="btn btn-info" ><%= link_to '編集', edit_customeruser_path(id: cu.id), id: "customeruser_edit" %></td>
        <td><button type="button" class="btn btn-danger" ><%= link_to "削除", customeruser_path(id: cu.id), method: :delete , data: { confirm: 'ユーザ情報が削除されます。よろしいですか？' }  , id: "customeruser_delete" %></button></td>
      <% end %>
      </tr>
    <% end %>
  <% end %> 
  </tbody>
  <% if @customerusers != nil %>
    <%= paginate @customerusers %> 
  <% end %>
</table>
<br>
<br>
<br>
<br>
<br>
</main>