<main>
<br>
<br>
<%= form_with(model: @customeruser, url: customerusers_path, local: true) do |user| %>
  <h2>ユーザ登録</h2>
   <% if @customeruser.errors.any? %>
    <div id="error_explanation">
      <h2><%= @customeruser.errors.count %> <%= t('view.error') %></h2>
      <ul>
        <% @customeruser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <label for="customer_id", disabled: true> 会社名 </label><br>
  <%= user.select :customer_id, options_for_select(@customer.all.map{|customer| [customer.name, customer.id]}) , { include_blank: '選択してください'} %>
  
  <div class="field" >
    <%= user.label :department %><br>
    <%= user.text_field :department ,:placeholder => " 所属部署・など記入してください。" ,class: 'form-control' %>
  </div>

  <div class="field" >
    <%= user.label :name %><br>
    <%= user.text_field :name ,:placeholder => "山田 花子 必須 入力です。" ,class: 'form-control' %>
  </div>

  <div class="field" >
    <%= user.label :email %><br>
    <%= user.text_field :email ,:placeholder => "abc@email.com 必須入力です。" ,class: 'form-control' %>
  </div>


  <div class="field" >
    <%= user.label :tel %><br>
    <%= user.text_field :tel ,:placeholder => "123-456-7890" ,class: 'form-control' %>
  </div>

  <div class="field" >
    <%= user.label :meta %><br>
    <%= user.text_area :meta , size: "40x10" ,class: 'form-control' %>
  </div>

  <p></p>
  <div class="actions">
    <%= user.submit 'ユーザ登録' , class: 'btn btn-danger' %>
  </div>

<br>
<br>
<% end %>
<button type="button" class="btn btn-info" ><%= link_to "戻る", customerusers_path, id: "back_to_menu" %></button>
<br>
<br>
<br>
<br>
<br>
<br>
</main>
