<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <ul class="top_menu row">
        <% if employee_signed_in? %>
          <li class="col-md-2"><%= "Share-needs" %></li>
          <li class="col-md-6"><%= current_employee.name %> さん、お疲れ様です</li>
          <li class="col-md-2"><button type="button" class="btn btn-secondary btn-sm"><%= link_to 'メニュー' , customer_managements_path , id: "menu" %></button></li>
          <li class="col-md-2"><%= link_to 'Logout' , destroy_employee_session_path, method: :delete , id: "logout1" %></li>
        <% else %>
          <li class="col-md-3"><%= "Share-needs" %></li>
          <li class="col-md-9"></li>
        <% end %>
      </ul>
    </header>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
    <footer>
      <ul class="footer_menu row">
        <% if employee_signed_in? %>
          <li class="col-md-2"><%= "Share-needs" %></li>
          <li class="col-md-6"><%= "" %></li>
          <li class="col-md-2"><button type="button" class="btn btn-secondary btn-sm"><%= link_to 'メニュー' , customer_managements_path , id: "menu" %></button></li>
          <li class="col-md-2"><%= link_to 'Logout' , destroy_employee_session_path, method: :delete , id: "logout2" %></li>
        <% else %>
          <li class="col-md-3"><%= "Share-needs" %></li>
          <li class="col-md-12"></li>
        <% end %>
      </ul>
    </footer>

  </body>

</html>